# /etc/systemd/system/bbcloader-api.service
# sudo syscontrol enable bbcloader-api
# sudo syscontrol start bbcloader-api
[Unit]
Description=NodeJS BBC-Downloader Application
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/home/mk/sites/bbcloader-api/current/bin/start.sh
WorkingDirectory=/home/mk/sites/bbcloader-api/current
User=mk
KillSignal=SIGQUIT
StandardOutput=syslog
StandardError=syslog
#Change this to find app logs in /var/log/syslog
SyslogIdentifier=bbcloader

[Install]
WantedBy=multi-user.target
