.dropzone {
  padding: 24px 16px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #444;
  border: 8px solid yellow;
}

.dropzone:hover {
  background-color: #4448;
  border: 8px dashed red;
}
