@import '../layout/variables';

.debugTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    padding: 0 $spacing * 2 0 0;
    width: 30%;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 70%;
  }
}

@media(max-width: 800px) {
  .debugTable {
    font-size: 0.6rem;
  }
}
