@import '../layout/variables';

.favLinks {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.chip {
  color: white;
  display: inline-block;
  margin: $spacing $spacing;
  background: $color1;
  padding: $spacing;
  border-radius: 20%;
  cursor: pointer;

  .icon {
    position: relative;
    top: 6px;
    margin-right: $spacing;
  }
}
