@import '../../layout/variables';

.dropzone {
  padding: 3*$spacing 2*$spacing;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4448;
  color: yellow;
  font-size: large;

  &.enter {
    background: #4448;
    border: $spacing dashed yellow;
  }

  &.success {
    color: $colorText;
    background: #2f28;
    border: $spacing solid green;
  }

  &.error {
    color: $colorText;
    background: #f228;
    border: $spacing dashed red;
  }
}
