@import '../../layout/variables';

.paper {
  width: 100%;
  margin-bottom: $spacing * 3;
  overflow-x: auto;
  background: $colorBg;
}

.novideos {
  height: 100;
  background: $colorBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colCenter {
  text-align: center;
}

.colRight {
  text-align: right;
}
